.idea
.DS_Store
local
target
project/target
project/project/target
etl_core/target
etl_core/.DS_Store
etl_core/src/.DS_Store
etl_core/src/main/.DS_Store
etl_core/src/test/.DS_Store
etl_core/src/main/resources/.DS_Store
etl_commons/target
etl_commons/.DS_Store
etl_commons/src/.DS_Store
etl_commons/src/main/.DS_Store
etl_core/src/test/.DS_Store
etl_commons/src/main/resources/.DS_Store